@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Momo+Trust+Display&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* TO-DO: mudar a paletta de cores do site 
- em = relativo ao tamanho da fonte (do elemento pai) / rem = ´´ (do elemento raiz/root) | 1.2em = 1.2 vezes o tamanho da fonte do elemento pai
- vw/vh (view- width/height) = porcentagem relativa ao comprimento/altura do viewport (espaço de tela)

*/
:root {
    --cor-de-fundo: #ECF3F8; /* color-50 */
    --cor-titulo: #5190C4; /* color-500 */
    --fonte-titulo: Raleway;
    --cor-fundo-elemento: #85B1D5; /* color-300 */
    --altura-input: 1.6em;
    --fonte-exibicao-dados: Momo Trust Display;

    /* Paletta de cores - mais claro a mais escuro | Peguei do https://htmlcolorcodes.com/color-picker/ */

    --cor-fonte-claro: #1B3C53;
    --cor-fonte-escuro: #ECF3F9;
    --cor-paleta2-5: #1B3C53;
    --cor-paleta2-4: #456882;
    --cor-paleta2-5:  #D2C1B6;
    --cor-paleta2-5:  #F9F3EF;

    --color-50: #ECF3F8;
    --color-100: #CADDED;
    --color-200: #A8C7E1;
    --color-300: #85B1D5;
    --color-400: #639CCA;
    --color-500: #5190C4;
    --color-600: #356E9C;
    --color-700: #2A567A;
    --color-800: #1E3E57;
    --color-900: #122535;
    --color-950: #070D13;
}

body {
    background-color: var(--cor-de-fundo);
}

hr {
  background-color: var(--cor-de-fundo);
  border: none;
  height: 1px;
}

#statusConexao {
  background-color: rgb(105, 150, 216);
  color: black;
  position:sticky;
  
}

div.title { /* A barra do título, de canto arredondado */
    background: var(--cor-titulo);
    font-family: var(--fonte-titulo, 'Times New Roman', Times, serif);
    font-size: 3em;
    padding-left: 1em;
    border-top-right-radius: 35px;
    max-width: 70dvw;
    color: var(--cor-de-fundo);
    margin-top: 10vh;
}

.operacoes {
  display: flex;
  flex-flow: column;
  align-content: end;
}

.caixa, .lista {
  display: flow;
  border-bottom: #000000;
  background-color: var(--cor-titulo);
  max-width: 100%;
  min-height:fit-content;
  padding-bottom: 1.2em;
  padding-top: 1pc;
  padding-right: 1pc;
  padding-inline-start: 1pc;
  border-top-right-radius: 2em;
  justify-content: center;
  
}

.lista {
  
  display:block;
  border-top-right-radius: 0%;
  max-height: fit-content;
  padding-bottom: 1pc;
 
}
/* Renomear para elemento da lista */

 div.elemento { 
  padding: 1vh;
  padding-top: 0;
  border-radius: 0.5em;
  font-size: large;
  font-family: var(--fonte-exibicao-dados);
  background-color: var(--cor-fundo-elemento);
  border-style: ridge;
  border-width: 3px;
  border-left-color: rgb(255, 255, 255);
  width: 180vh;
  max-width: 180vh;
  min-width: 180vh;
  min-height: 30vh;
  max-height:400vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: auto;
}

textarea {
  resize: none;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: auto;
  min-height:30px;
  max-height: 100px;
  max-width: 60%;
  width: 50%;
  margin:5px;
  border: 2px solid var(--cor-fundo-elemento, black);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: antiquewhite;
  font-size: 1em;
}

#descricaoContainer {
  min-height: var(--altura-input);
  max-width: min-content;
  border: 1px ridge black;
  display: contents;
  min-inline-size: 40%;
}
label {
  font-size: 1.4em;
}

input, input[type=text], input[type=number], select, button {
  width: 50%;
  margin:5px;
  border: 1px solid var(--cor-fundo-elemento, black);
  border-radius: 10px;
  min-height: var(--altura-input);
  box-sizing: border-box;
  background-color: antiquewhite;
  font-size: 1.1em;
}

input[type=text] {
  /* Propriedades exclusivas do campo texto etc. */
  max-height:fit-content;
}

input[type=number] {
  /* Propriedades exclusivas do campo número etc. */
  max-height: fit-content;
}

input:hover, textarea:hover, select:hover, button:hover {
  border-color: var(--color-300);
}

input:focus, textarea:focus {
  border-color: var(--color-400);
  outline: hidden;
  box-shadow: 0 0 0.7em var(--color-100);
}

input[type="number"]::-webkit-inner-spin-button, /* Remove os botões de incremento do campo de input numérico */
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


button {
  min-width: fit-content;
  max-width: fit-content;
  max-height: fit-content;
  vertical-align: baseline;
}
button:active{
  box-shadow: 0 0 0.7em var(--color-200);
  background-color: var(--color-300);
}
button:hover{
  box-shadow: 0.1em 0 0.3em var(--color-300);
}


/*
  
  .dropdown-toggle {
    display: none;
  } 

  .dropdown-label {
    display: inline-block;
    background: #3498db;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
  }

  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: #f1f1f1;
    margin-top: 5px;
    padding: 0 10px;
    border-radius: 4px;
  }

  .dropdown-toggle:checked + .dropdown-label + .dropdown-content {
    max-height: 200px; 
    padding: 10px;
    transition: max-height 0.3s ease-in;
  }
*/